body {
  
  background-image: url("../Imagenes/img2.jpeg");
  background-size: cover;    
  background-repeat: no-repeat;
  background-position: center;

  font-family: Arial, sans-serif;
  margin: 0;
  
}

header {
  background-color: #002654;
  color: white;
  padding: 15px;
  text-align: center;
}

nav {
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: #002654;
  margin: 0 10px;
  font-weight: bold;
}

main {
  background: rgba(255, 255, 255, 0.75);
  padding: 40px;
  border-radius: 8px;
  width: 80%;
  margin: 20px auto;
}

h1, h2, h3 {
  color: #002654;
}

footer {
  background-color: #002654;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 40px;
}


details.toggle {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: fit-content;
  background: #f9f9f9;
}


details.toggle summary::after {
  content: "Mostrar";
}


details.toggle[open] summary::after {
  content: "Ocultar";
}


