body {
  
  background-image: url("../Imagenes/img2.jpeg");
  background-size: cover;    
  background-repeat: no-repeat;
  background-position: center;

  font-family: Arial, sans-serif;
  margin: 0;
  
}

header {
  background-color: #002654;
  color: white;
  padding: 15px;
  text-align: center;
}

nav {
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: #002654;
  margin: 0 10px;
  font-weight: bold;
}

main {
  background: rgba(255, 255, 255, 0.75);
  padding: 40px;
  border-radius: 8px;
  width: 80%;
  margin: 20px auto;
}

h1, h2, h3 {
  color: #002654;
}

footer {
  background-color: #002654;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 40px;
}

details.toggle {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  width: fit-content;
  background: rgba(255,255,255,0.55);
}

details.toggle summary {
  cursor: pointer;
  color: black;
  text-decoration: none;
  outline: none;
  list-style: none;
}

details.toggle summary::-webkit-details-marker {
  display: none;
}

details.toggle summary:hover {
  color: red;
}

details.toggle summary::before {
  content: "Mostrar";
}

details.toggle[open] summary::before {
  content: "Ocultar";
}


details.toggle ul li a {
  color: black;
  text-decoration: none;
}

details.toggle ul li a:hover {
  color: red;
}
