body {
  font-family: Arial, sans-serif;
  background-image: url("../Imagenes/img3.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  color: white;
}

header {
  text-align: center;
  padding: 40px 20px;
  background: rgba(0, 0, 0, 0.6);
}

header h1 {
  margin: 0;
  font-size: 3rem;
  font-weight: bold;
}

.subtitulo {
  font-style: italic;
  opacity: 0.9;
}

details.toggle {
  margin: 25px;
  padding: 15px;
  background: rgba(0, 0, 0, 0.45);
  border-radius: 8px;
  width: fit-content;
}

details.toggle summary {
  list-style: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.1rem;
  color: #fff;
}

details.toggle summary::after {
  content: "Mostrar secciones";
}

details.toggle[open] summary::after {
  content: "Ocultar secciones";
}

.lista-secciones {
  margin-top: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.lista-secciones li {
  margin: 6px 0;
}

.texto-acerca {
  margin: 25px;
  padding: 20px;
  background: rgba(0,0,0,0.55);
  border-radius: 10px;
  line-height: 1.6;
  font-size: 12px;
}

footer {
  text-align: center;
  padding: 20px;
  background: rgba(0,0,0,0.65);
  margin-top: 40px;
}

.caja-info {
  margin: 25px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.55); 
  border-radius: 10px;
  line-height: 1.6;
  font-size: 12px;
  color: #000;
}

.caja-info h3 {
  margin-bottom: 10px;
  color: #000;
  font-weight: bold;
}

.caja-info ul {
  margin: 0;
  padding-left: 18px;
}

.caja-info li {
    list-style: none;
    margin-bottom: 5px;
}

.caja-info a {
  color: #000;
  text-decoration: none;
  transition: 0.2s ease;
}

.caja-info a:hover {
  color: red;
  text-decoration: underline;
}

.lista-secciones li {
  margin: 5px 0;
}

.lista-secciones a {
  color: #ffffff;
  text-decoration: none;
}

.lista-secciones a:hover {
  color: red;
  text-decoration: underline;
}